h1{
    border-style: dotted ;
    background: linear-gradient(rgb(195, 223, 234),white);
    background-attachment:  fixed;
}


#p2{
    background-color:antiquewhite;
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: bold;
    text-decoration: dotted underline;
    font-size: 19px;
}


p{
    border-style: solid;
    border-width: 5px;
    border-color: brown;
    padding: 5px;
    
}

body{
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTzY1pPcp0rkl7WLWl5ap5nVEV1waQs-FAncKNHDMXHASq9oeZXObJYctdysJlr8Wp9uQ&usqp=CAU");
   background-repeat: no-repeat;
   background-attachment:  fixed;
   background-position: center;
   background-size: cover;
}

